.info{
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
    color : $primary-color;
    @include mobile{
        margin-left: 20px;
        margin-right: 20px;
    }
    &__general{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 25px;
        @include mobile{
            flex-direction: column;
        }
        &__left{
            width : 60%;
            @include mobile{
                width: 100%;
            }
            &__title{
                font-weight: 500;
                font-size: 36px;
                line-height: 142.6%;
                margin-bottom: 0px;
                margin-top: 0px;
                @include mobile {
                    font-size: 18px;
                }
            }
            &__localisation{
                font-weight: 500;
                font-size: 18px;
                line-height: 142.6%;
                margin-top: 0px;
                margin-bottom: 20px;
                @include mobile{
                    font-size: 14px;
                }
            }
        }
        &__right{
            width: 40%;
            @include mobile{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                margin-top: 10px;
            }
            &__profile{
                display: flex;
                justify-content: flex-end;
                &__nameContainer{
                    display : flex;
                    flex-direction: column;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 142.6%;
                    margin-right: 10px;
                    @include mobile{
                        font-size: 12px;
                    }
                    &__name{
                        margin-top : 0px;
                        margin-bottom : 0px;
                    }
                }
                &__picture{
                    width: 64px;
                    height: 64px;
                    border-radius: 50px;
                    @include mobile{
                        margin-top: 15px;
                        height : 32px;
                        width : 32px
                    }
                }
            }
        }
    }
    &__dropdown{
        display :flex;
        justify-content: space-between;
        @include mobile {
            flex-direction : column ;
            justify-content : flex-start;
        }
        &__element{
            width: 100%;
            &--left{
                margin-right: 75px;
            }
        }
    }
}

.equipement{
    margin-top: 0px;
    margin-bottom: 0px;
}