.starContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    &__star{
        margin-left: 10px;
        @include mobile{
            height: 15px;
            width: 15px;
        }
    }
}